@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}